---
layout: false
permalink: /humans.txt
eleventyExcludeFromCollections: true
feed: false
---
/* TEAM */
Project: Wild Globalization
Site: {{ settings.url }}
Gary Bedford: Author
Website: https://www.garybedford.com/
GitHub collaborator: adamdjbrett — https://github.com/adamdjbrett
GitHub contributor: adamdjbrett — https://github.com/adamdjbrett
GitHub contributor: mesinkasir — https://github.com/mesinkasir

/* SITE */
Generator: Eleventy {{ eleventy.version }}
Feeds: /feed/feed.xml, /feed/feed.rss, /feed/feed.json, /feed/feed.txt, /twtxt.txt

/* CREDITS */
Icons: Phosphor — https://phosphoricons.com/
Phosphor is a passion project by Helena Zhang — https://helenazhang.com/ — and Tobias Fried — https://tobiasfried.com/.
